.wrapper {
  display: flex;
  justify-content: center;
  background-color: yellow;
  width: 350px;
  height: 100px;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.avatar {
  width: 50px;
  margin-right: 35px;
  border-radius: 75px;
}
.content {
  width: 150px;
  padding: 10px;
  background-color: green;
  border-radius: 5px;
  
}
.time {
  display: flex;
  justify-content: end;
}
.block {
  position: relative;
  
}
.block::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 97%;
  display: block;
  width: 30px;
  height: 30px;
  background: radial-gradient(60px at top left, transparent 49%, green 51%)
    no-repeat right bottom;
}
