.item {
  margin-right: 10px;
  border-radius: 50px;
  background-color: transparent;
}
.item:hover {
  background-color: rgb(166, 202, 36);
}
.priority {
  display: flex;
  margin-left: 25px;
}
.block{
    background-color: aqua;
    width: 300px ;
}